
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: #FA8BFF;
background-image: linear-gradient(135deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);


}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.h1{
  color: #771565;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 700;
}
.img{
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height:20px ;
  width: 20px;
  margin-left: 10px;
}
/* .input-containe {
  display: flex;
  align-items: center;
  background-color: lightblue;
  border-radius: 25px;
  padding: 10px;
  
  width: fit-content;
} */


